*,
*:before,
*:after {
  box-sizing: border-box;
}

video{
max-width:100%;
height:auto;
}
.gray{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.is-colored{
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
    '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体', YuGothic,
    'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.hover-action {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.hover-action:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(0, -4px);
  transform: translate(0, -4px);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  font-family: 'Open sans', sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
}

.section-heading {
  margin-bottom: 20px;
  text-align: center;
}

.section-lead {
  margin-bottom: 30px;
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 68px;
}

.section {
  padding: 120px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}
/* -------------------------------
スライドイン（設定）

対象の要素にtransform: translateX(-350%);
をつける必要あり
--------------------------------- */
.scrollanime {
  opacity: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.slideRight {
  transform: translateX(50%);
}
.slideLeft {
  transform: translateX(-50%);
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  transition: 0.8s;
}


.updown {
  transform: translateY(-100px);
}
.downup {
  transform: translateY(100px);
}

.fadein1 {
  animation-delay: 0.3s;
}
.fadein2 {
  animation-delay: 0.6s;
}
.fadein3 {
  animation-delay: 0.9s;
}

HTML CSSResult
body {
  background:#000;
}
/* -------------
loading
---------------- */
#load {
  position:fixed;
  width:100%;
  height:100%;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
  background: black;
  z-index: 1000;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  top: 50%;
  left: 50%;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#35C4F0;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
    35% {
        left: 41%; 
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%; 
        -moz-transform:rotate(0deg); 
        -webkit-transform:rotate(0deg); 
        -o-transform:rotate(0deg);
        transform:rotate(0deg); 
        opacity:1;
    }
    100% {
        left:100%; 
        -moz-transform:rotate(-180deg); 
        -webkit-transform:rotate(-180deg); 
        -o-transform:rotate(-180deg); 
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-moz-keyframes move {
    0% {
        left:0; 
        opacity:0;
    }
    35% {
        left:41%; 
        -moz-transform:rotate(0deg); 
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%; 
        -moz-transform:rotate(0deg); 
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%; 
        -moz-transform:rotate(-180deg); 
        transform:rotate(-180deg);
        opacity:0;
    }
}

@-webkit-keyframes move {
    0% {
        left:0; 
        opacity:0;
    }
    35% {
        left:41%; 
        -webkit-transform:rotate(0deg); 
        transform:rotate(0deg); 
        opacity:1;
    }
    65% {
        left:59%; 
        -webkit-transform:rotate(0deg); 
        transform:rotate(0deg); 
        opacity:1;
    }
    100% {
        left:100%;
        -webkit-transform:rotate(-180deg); 
        transform:rotate(-180deg); 
        opacity:0;
    }
}

@-o-keyframes move {
    0% {
        left:0; 
        opacity:0;
    }
    35% {
        left:41%; 
        -o-transform:rotate(0deg); 
        transform:rotate(0deg); 
        opacity:1;
    }
    65% {
        left:59%; 
        -o-transform:rotate(0deg); 
        transform:rotate(0deg); 
        opacity:1;
    }
    100% {
        left:100%; 
        -o-transform:rotate(-180deg); 
        transform:rotate(-180deg); 
        opacity:0;
    }
}



/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.logo {
  position: relative;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
  z-index: 2;
  color: white;
}

.logo-title {
  font-family: 'Open sans', sans-serif;
  font-size: 64px;
  line-height: 2;
  letter-spacing: 0.2em;
}

.logo-subtitle {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  letter-spacing: 0.2em;
}
.video {
  position: absolute;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: -10;
  right: 0;
  bottom:0;
}

/* --------------
Button 設定
-----------------*/
.btn {
  position: absolute;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: gray;
  color: white;
  line-height: 50px;
  box-sizing: border-box;
  /* overflow: hidden; */
  transition: background 0.5s;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.btn:hover {
  background: rgb(167, 165, 165);
}

.btn a {
  display: block;
  color: white;
  width: 120px;
  height: 50px;
  text-decoration: none;
  animation: shine 3s ease-in-out infinite;
}
/* Curl Bottom Right */

.hvr-curl-bottom-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(315deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-bottom-right:hover:before,
.hvr-curl-bottom-right:focus:before,
.hvr-curl-bottom-right:active:before {
  width: 25px;
  height: 25px;
}

/*--------------------------------
 グローバルナビ
---------------------------------*/
.gnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  padding: 0 24px;
  letter-spacing: 0.05em;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #333;
}

.gnav-link:hover {
  opacity: 1;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: '';
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-link:hover:after {
  width: 100%;
}

/* iOS対策 */
.ios .gnav-link:after,
.ios .gnav-link:hover:after {
  display: none;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  flex: 0 0 32.31552%;
  margin-right: 1.52671%;
  margin-bottom: 40px;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-body {
  text-align: center;
}

.works-title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-text {
  font-size: 10px;
}

.works-url {
  font-size: 10px;
}

.works-image.fadein {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.works-image.fadein.lazyloaded {
  opacity: 1;
}

/*-------------------------------
service
---------------------------------*/
.service-section {
  padding: 120px 0;
}

.service-section .inner {
  position: relative;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.service-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.service-item {
  background-color: #fff;
  color: #555;
  box-shadow: 0px 0px 10px 0px #000;
  /* border: 1px solid #555; */
  position: relative;
  width: 30%;
  padding: 40px 20px 20px;
}

.service-item-logo {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-size: 1.875rem;
  background-color: #fff;
}

.service-item-title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #f6b483;
}

/*--------------------------------
 Price
---------------------------------*/
.price-list {
  width: 50%;
  margin: 0 auto;
}

.price-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin: 0 15px 15px 0;
  border-bottom: 1px dotted black;
}

.price-note {
  margin-top: 100px;
  text-align: center;
}

/*--------------------------------
 Feature
---------------------------------*/
/* .feature-item {
  display: flex;
  flex-wrap: wrap;
}

.feature-image-wrapper {
  flex: 0 0 45%;
  margin-right: 40px;
}

.feature-body {
  flex: 1;
}

.feature-body p:not(:last-child) {
  margin-bottom: 20px;
} */

/*--------------------------------
 About
---------------------------------*/
.about-section .inner {
  max-width: 1000px;
}

.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image-wrapper {
  flex: 0 0 220px;
  margin-right: 40px;
}

.about-image {
  box-shadow: 0 0 25px 0 #d9d9d9;
}

.about-body {
  flex: 1;
}

.about-body p:not(:last-child) {
  margin-bottom: 20px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-section .inner {
  max-width: 1000px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  flex: 0 0 46%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
/* .skill-item:nth-of-type(even) {
  transform: translateX(250%);
}
.skill-item:nth-of-type(odd) {
  transform: translateX(-250%);
} */

.skill-image-wrapper {
  flex: 0 0 60px;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-body p:not(:last-child) {
  margin-bottom: 20px;
}

.skill-title {
  margin-bottom: 3px;
}

.rate {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 20px;
  letter-spacing: 0.3em;
}

.rate:before,
.rate:after {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  content: '★★★★★';
}

.rate:before {
  color: #ddd;
}

.rate:after {
  overflow: hidden;
  white-space: nowrap;
  color: #f181b4;
}

.rate1:after {
  width: 20px;
}

.rate2:after {
  width: 40px;
}

.rate3:after {
  width: 60px;
}

.rate4:after {
  width: 80px;
}

.rate5:after {
  width: 100px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 50px;
  margin: 0 20px;
  text-align: center;
}

.contact-text {
  margin-top: 0px;
  text-align: center;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  background-color: #1d1d1d;
  position: relative;
}

.footer .inner {
  padding: 50px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #8c8c8c;
}
.page-top {
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #ccc;
  width: 5%;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.page-top i {
  font-size: 200%;
  transition: 0.5s linear;
}

.page-top i:hover {
  transition: 0.5s all;
  font-size: 300%;
}
@media screen and (min-width: 768px) {
  #wrapper {
    display: none;
  }
}
/*--------------------------------------------------
media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: block;
  }

  .sp-only {
    display: block;
  }

  .hover-action {
    -webkit-transition: none;
    transition: none;
  }

  .hover-action:hover {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
  }

  /*---------------------
   文字
   ---------------------- */
  .section-heading {
    margin-bottom: 20px;
  }

  .heading-primary {
    font-size: 22px;
  }

  /* ---------------------
  レイアウト
  ------------------------ */
  .wrapper {
    padding-top: 82px;
  }

  .section {
    padding: 60px 0;
  }

  .section .inner {
    padding: 0 15px;
  }

  /*-----------------------
   ヘッダー 
   ------------------------*/
  .header {
    height: 65vh;
  }

  .logo-title {
    font-size: 28px;
    letter-spacing: 0.16em;
  }

  .logo-subtitle {
    font-size: 14px;
  }

  .image-top {
    position: absolute;
    top:0;
    height: auto;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -10;
    margin-top: 60%;
  }

  .btn {
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: gray;
    color: white;
    line-height: 50px;
    box-sizing: border-box;
    transition: background 0.5s;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  

/* ---------------------
  グローバルナビ 
------------------------*/
  .gnav {
    display: flex;
    padding: 15px 0;
  }
/*--------------------------------
ハンバーガーメニュー
---------------------------------*/
  #wrapper nav {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: rgba(33, 33, 33, 0.9);
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
  }

  #wrapper nav ul li {
    padding: 20px 28px;
  }

  #wrapper nav ul li a {
    text-decoration: none;
    color: #ddd;
  }

  .wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  .wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  .wrapper .btn-gnavi span:nth-child(1) {
    top: 0px;
  }
  .wrapper .btn-gnavi span:nth-child(2) {
    top: 10px;
  }
  .wrapper .btn-gnavi span:nth-child(3) {
    top: 20px;
  }
  .wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .wrapper .btn-gnavi.open span {
    background: #fff;
  }

  .wrapper .btn-gnavi.open span:nth-child(1) {
    width: 24px;
    -webkit-transform: translate(0px, 10px) rotate(45deg);
    transform: translate(0, 10px) rotate(45deg);
  }
  .wrapper .btn-gnavi.open span:nth-child(2) {
    display: none;
  }
  .wrapper .btn-gnavi.open span:nth-child(3) {
    width: 24px;
    -webkit-transform: translate(0px, -10px) rotate(-45deg);
    transform: translate(0, -10px) rotate(-45deg);
  }

  #mask {
    display: none;
  }
  #wrapper.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 1;
    cursor: pointer;
    transition: all 0.5s;
  }
  /* -----------------------
  Works
  -------------------------- */
  .works-body {
    text-align: left;
  }

  .works-title {
    font-size: 10px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  /*-----------------------------
   Service 
   ------------------------------*/
  .service-items {
    display: block;
  }

  .service-item {
    margin: 0 auto;
    margin-bottom: 80px;
    width: 80%;
  }

  .btn .btn-link:active,
  .btn-link:hover {
    background: #555;
  }

  /*--------------------------------
 Price
---------------------------------*/
  .price-list {
    width: 100%;
  }

  /* About */
  .about-item {
    display: block;
  }

  .about-image-wrapper {
    width: 100px;
    max-width: 100%;
    margin: 0 auto 20px;
  }

 
  /*-------------------------------
   About
   -------------------------------- */
  .about-item {
    display: block;
  }

  .about-image-wrapper {
    width:250px;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  /*--------------------------------
   Skill
   --------------------------------- */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    max-width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-image-wrapper {
    flex: 0 0 75px;
    margin-right: 15px;
  }

  .rate {
    font-size: 15px;
    height: 15px;
  }

  .rate:before,
  .rate:after {
    line-height: 15px;
    height: 15px;
  }

  .rate1:after {
    width: 15px;
  }

  .rate2:after {
    width: 35px;
  }

  .rate3:after {
    width: 55px;
  }

  .rate4:after {
    width: 75px;
  }

  .rate5:after {
    width: 95px;
  }

  /* Contact */
  .contact-item {
    width: 40px;
    margin: 0 10px;
  }

  /* フッター */
  .footer .inner {
    padding: 20px 0;
  }
}
